

@media (prefers-reduced-motion: no-preference) {
  .sudoku-logo {
    animation: logo-spin infinite 3s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .Cell {
  background: "ccc";
  /* position: absolute; 
  
}*/

.Cell{
  background-color: #fff;
  position:absolute;
  /* border-left:1px solid gray; */
  /* border-right:1px solid gray; */
  /* border-top:1px solid gray; */
  /* border-bottom:1px solid gray; */
} 
